@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <h1 class="text-center mb-5">Welcome to the Admin Dashboard</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Memberships</h5>
                    <p class="card-text">View memberships enrolled in schedules.</p>
                    <a href="@Url.Action("ViewMemberships", "Admin")" class="btn btn-lg btn-primary btn-block rounded-pill shadow-sm">Go to View Memberships</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Match Coaches</h5>
                    <p class="card-text">Match coaches with schedules.</p>
                    <a href="@Url.Action("MatchCoach", "Admin")" class="btn btn-lg btn-primary btn-block rounded-pill shadow-sm">Go to Match Coaches</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create Schedule</h5>
                    <p class="card-text">Create a new schedule event.</p>
                    <a href="@Url.Action("CreateSchedule", "Admin")" class="btn btn-lg btn-primary btn-block rounded-pill shadow-sm">Go to Create Schedule</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <form asp-action="LogOut" method="post">
            <button type="submit" class="btn btn-lg btn-danger rounded-pill shadow-sm">Log Out</button>
        </form>
    </div>
</div>