@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav flex-row align-items-center justify-content-end pt-3 pt-lg-0 mt-3 mt-lg-0">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item me-2">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @((await UserManager.GetUserAsync(User)).FirstName)!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-primary">Logout<i class="fa-solid fa-right-from-bracket" style="margin-left: 0.25rem;"></i></button>
        </form>
    </li>
}
else
{
    <li class="nav-item me-2">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="btn btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login<i class="fa-solid fa-right-to-bracket" style="margin-left: 0.25rem;"></i></a>
    </li>
}
</ul>
