@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
	ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

@*<p class="my-3">
	<a asp-action="Create" class="btn btn-primary">Create Role</a>
</p>*@
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Id)</th>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var role in Model) {
			<tr>
				<td>@Html.DisplayFor(item => role.Id)</td>
				<td>@Html.DisplayFor(item => role.Name)</td>
			</tr>
		}
	</tbody>
</table>