@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admin Login</h5>
                    <p class="card-text">Login as an administrator.</p>
                    <a href="@Url.Action("AdminLogin", "Account")" class="btn btn-primary">Admin Login</a>
                </div>
            </div>
    </div>
</div>
